.bar {
  background-color: #001A27;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  color: #fff;
}

.bar .logo {
  flex: 1;
}

.bar .list {
  flex: 2;
}

.bar ul {
  margin: 0 !important;
  text-align: right;
}

.bar ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .bar ul li {
    padding: 0 3px;
  }
}
