<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
  <div class="contactDetails">
    <div>
      <img [src]="contactInfo?.picture" alt="Image">
    </div>
    <div>
      <span>
        <strong>Name:</strong>
      </span>
      <span>{{contactInfo?.name}}</span>
    </div>
    <div>
      <span>
        <strong>Phone:</strong>
      </span>
      <span>{{contactInfo?.phone}}</span>
    </div>
    <div>
      <button nz-button nzType="primary" (click)="openModal()">
        Send Message
      </button>

    </div>
  </div>

</nz-spin>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Send Message to ' + contactInfo?.phone "
 (nzOnCancel)="cancel()" (nzOnOk)="isLoading=true;send()" [nzOkLoading]="isLoading">
  <span class="error" *ngIf="errorMessage"> {{errorMessage}}</span>

  <textarea nz-input class="input-control" [formControl]="textField" placeholder="Type your message" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
  <span class="error" *ngIf="textField.errors && textField.dirty"> Please enter some text</span>
</nz-modal>
